<div
  class="!flex !min-h-screen !items-center !justify-center !bg-gradient-to-br !from-slate-900 !via-slate-950 !to-black !p-6"
>
  <div class="!w-full !max-w-md">
    <!-- Logo -->
    <div class="!mb-10 !text-center">
      <div
        class="!mx-auto !mb-5 !flex !h-20 !w-20 !items-center !justify-center !rounded-2xl !bg-primary-600 !text-white"
      >
        <i class="pi pi-box !text-4xl"></i>
      </div>

      <h1 class="!text-3xl !font-bold !text-white">
        {{ 'APP.TITLE' | translate }}
      </h1>

      <p class="!mt-2 !text-sm !text-slate-400">
        {{ 'APP.TAGLINE' | translate }}
      </p>
    </div>

    <!-- Card SIN sombra -->
    <div class="!rounded-2xl !bg-white !p-8 !border !border-slate-200">
      <router-outlet />
    </div>
  </div>
</div>
