/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* PrimeNG Icons */
@import "primeicons/primeicons.css";

/* Colores custom */
:root {
  --my-primary-color: #359af8;
  --my-primary-color-hover: #65b5fc;
}

body {
  @apply font-sans;
}

/* Sobrescribir botones PrimeNG */
.p-button.p-button-primary {
  background-color: var(--my-primary-color) !important;
  border-color: var(--my-primary-color) !important;
  color: white !important;
}

.p-button.p-button-primary:hover {
  background-color: var(--my-primary-color-hover) !important;
  border-color: var(--my-primary-color-hover) !important;
}

/* Sobrescribir textos “primary” (opcional Tailwind) */
.text-primary {
  color: var(--my-primary-color) !important;
}

/* Inputs y textareas, incluyendo PrimeNG pInputText */
input,
textarea,
.p-inputtext {
  border-color: #d1d5db;
  /* gris por defecto */
  transition: border-color 0.2s, box-shadow 0.2s;
}

/* Hover */
input:hover,
textarea:hover,
.p-inputtext:hover {
  border-color: var(--my-primary-color) !important;
}

/* Focus (clicado) */
input:focus,
textarea:focus,
.p-inputtext:focus {
  border-color: var(--my-primary-color) !important;
  box-shadow: 0 0 0 0.2rem rgba(53, 154, 248, 0.3) !important;
  /* glow azul */
  outline: none !important;
}

/* Tags PrimeNG */
.p-tag {
  background-color: var(--my-primary-color) !important;
  /* fondo azul */
  color: white !important;
  /* texto blanco */
  border-radius: 0.375rem !important;
  /* opcional, redondeado como Tailwind */
  font-weight: 500 !important;
  /* opcional, texto medio */
}

.warehouses-btn,
.warehouses-btn .p-button-label,
.warehouses-btn .p-button-icon {
  color: var(--my-primary-color) !important;
  background: transparent !important;
  border: none !important;
}

.warehouses-btn:hover,
.warehouses-btn:hover .p-button-label,
.warehouses-btn:hover .p-button-icon {
  color: var(--my-primary-color) !important;
}

.p-toast .p-toast-message,
.p-toast .p-toast-message .p-toast-icon {
  background-color: inherit !important;
  opacity: 1 !important;
}
